# Streamlit App Core Dependency
streamlit==1.51.0
streamlit-folium==0.25.3

# Data Process
pandas==2.3.3
numpy==2.3.3
pyarrow==21.0.0

# ML
lightgbm==4.6.0
scikit-learn==1.7.2
joblib==1.5.2

# Map Visualization
folium==0.20.0

# Other Necessary
python-dateutil==2.9.0.post0
